@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-barra-lateral: rgb(255, 255, 255);

    --color-texto: rgb(0, 0, 0);
    --color-texto-menu: rgb(134, 136, 144);

    --color-menu-hover: rgb(238, 238, 238);
    --color-menu-hover-texto: rgb(0, 0, 0);

    --color-boton: rgb(0, 0, 0);
    --color-boton-texto: rgb(255, 255, 255);

    --color-linea: rgb(150, 148, 148);

    --color-switch-base: rgb(201, 202, 206);
    --color-switch-circulo: rgb(241, 241, 241);

    --color-scroll: rgb(192, 192, 192);
    --color-scroll-hover: rgb(134, 134, 134);

}

.dark-mode {

    --color-barra-lateral: rgb(44, 45, 48);

    --color-texto: rgb(255, 255, 255);
    --color-texto-menu: rgb(110, 110, 117);

    --color-menu-hover: rgb(0, 0, 0);
    --color-menu-hover-texto: rgb(255, 255, 255);

    --color-boton: rgb(255, 255, 255);
    --color-boton-texto: rgb(0, 0, 0);

    --color-linea: rgb(180, 180, 180);

    --color-switch-base: rgb(39, 205, 64);
    --color-switch-circulo: rgb(255, 255, 255);

    --color-scroll: rgb(68, 69, 74);
    --color-scroll-hover: rgb(85, 85, 85);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    background-color: rgb(38, 61, 61);
    overflow-x: hidden;
}

/*boton de menu*/

.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 25px;
    top: 0px;
    z-index: 100;

}

/*barra lateral*/
.barra-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
    z-index: 50;
    top: 0px;
}

.mini-barra-lateral {
    width: 80px;
}


.barra-lateral span {
    font-size: 18px;
    width: 100px;
    white-space: nowrap;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto {
    opacity: 0;
    width: 0;
}

.oculto {
    visibility: hidden;
    display: none;
}

/* Animación para ocultar elementos suavemente */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-out.oculto {
    display: none;
}

/* Mostrar elementos suavemente */
span, .login-text {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


/*nombre de la pagina*/
.barra-lateral .nombre-pagina {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: var(--color-texto);
}

.barra-lateral .nombre-pagina ion-icon {
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

.barra-lateral .nombre-pagina span {
    margin-left: 0px;
    font-size: 25px;
}

/*boton*/

.barra-lateral .boton {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    color: var(--color-boton-texto);
    transition: var(--transicion-boton);
}

.barra-lateral .boton ion-icon {
    min-width: 50px;
    font-size: 25px;

}

/*barra de navegacion*/

.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.barra-lateral.navegacion::-webkit-scrollbar {
    width: 5px;
}

.barra-lateral.navegacion::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
    border-radius: 10%;
}

.barra-lateral.navegacion::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li {
    list-style: none;
    display: flex;
    margin-bottom: 5px;

}

.barra-lateral .navegacion a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}

.barra-lateral .navegacion a:hover {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}


.barra-lateral .navegacion ion-icon {
    min-width: 50px;
    font-size: 20px;
}

/*linea*/

.barra-lateral .linea {
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*modo oscuro*/

.barra-lateral .modo-oscuro {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-lateral .modo-oscuro .info {
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}

.barra-lateral .modo-oscuro ion-icon {
    width: 50px;
    font-size: 20px;
}

/*palanca que permite cambiar al modo oscuro*/

.barra-lateral .modo-oscuro .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base {
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo {
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50px;
    left: 2px;
    transition: left 0.5s ease;
}

.barra-lateral .modo-oscuro .circulo.prendido {
    left: 15px;

}


/*-- la siguiente clase debe de ir en cada boton segun la pagina, en este caso sera el boton de la casita porque es la pagina inicial*/
#botoncasita {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

/*para alinear el futuro contenido de la pagina, se le debera añadir un margin-left de 250px y un padding de 20px*/

main {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}

main.min-main {
    margin-left: 80px;
}

/*resposive*/

@media (max-height : 660px) {
    .barra-lateral .nombre-pagina {
        margin-bottom: 5px;
    }

    .barra-lateral .modo-oscuro {
        margin-bottom: 3px;
    }
}

@media (max-width: 600px) {
    .barra-lateral {
        position: fixed;
        left: -250px;

    }

    .max-barra-lateral {
        left: 0;
    }

    .menu {
        display: flex;
    }

    .menu ion-icon:nth-child(2) {
        display: none;
    }

    main {
        margin-left: 0;
    }

    main.min-main {
        margin-left: 0;
    }

}

/* Estilos generales para el botón en la barra de navegación */
.login-link-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


