@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --color-barra-lateral:rgb(255,255,255);
   
    --color-texto:rgb(0,0,0); 
    --color-texto-menu:rgb(134,136,144); 

    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
    height:100vh ;
    width:100% ;
    background-color: aqua;
}

.barra-lateral{
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color:white ;
    transition: width 0.5s ease;
}

.mini-barra-lateral{
    width: 80px;
}


.barra-lateral span{
    font-size: 18px;
    width: 100px;
    white-space: nowrap;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}

.barra-lateral  span.oculto{
    opacity: 0;
    width: 0;
}
/*nombre de la pagina*/
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

.barra-lateral .nombre-pagina span{
    margin-left:5px ;
    font-size: 25px;
}

/*boton*/

.barra-lateral .boton{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    transition: var(--transicion-boton);
}

.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
    
}

/*barra de navegacion*/
.barra-lateral .naveacion li{
    border: 2px solid red;
    list-style: none;
    display: flex;
    margin-bottom: 5px;

}

.barra-lateral .naveacion a{
    border: 2px solid red;
    

}