.container{
    transition: translate(-50%,-50%);
    width: 45px;
}

input{
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 15px;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid gray;
    transition: all .7s ease;
}

::placeholder{
    color: gray;
}

.btn{
    position: absolute;
    right: 50px;
    left: 15px;
    top: 69px;
    width: 43px;
    height: 43px;
    background: rgb(155, 155, 155);
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.btn ion-icon{
    top: 5px;
    font-size: 25px;
    color: white;
    transition: all 0.7s ease;
}

.container:hover input{
    width: 230px;
}

.container:hover ion-icon{
    transform: rotate(- 360deg);
}

