.search-container {
    position: relative;
    width: 100%; /* O el ancho deseado */
    padding: 20px 0; /* Aumenta el padding superior para bajar el campo de búsqueda */
    text-align: center; /* Opcional, para centrar el contenido en caso de añadir más elementos */
}

#search-input {
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 300px; /* Ajusta el ancho según sea necesario */
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid gray;
    transition: all .7s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px; /* Ajusta este valor para bajar el campo de búsqueda */
}
