header{
    z-index: 9999;
    justify-content: space-between;
    padding: 30px 0 40px;
    background-color: #FFF;
}
.count-products {
    position: absolute;
    top: 40%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-cart{
    width: 35px;
    height: 35px;
    stroke: #000;
    position: relative;
    right: -600px;
}

#contador-productos {
    font-size: 15px;
}

.container-cart-products, 
.container-cart-products-cerrado {
    position: fixed; /* Mantiene el carrito fijo */
    top: 170px; /* Ajusta según la altura deseada desde la parte superior */
    background-color: #FFF;
    width: 400px;
    z-index: 999; /* Asegúrate de que sea lo suficientemente alto para superponer otros elementos */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    transition: left 0.5s ease; /* Agrega la transición */
}

/* Estilo para el carrito cerrado */
.container-cart-products-cerrado {
    left: 100px; /* Posición cuando está cerrado */
}

/* Estilo para el carrito abierto */
.container-cart-products {
    left: 270px; /* Posición cuando está abierto */
}



.cart-product {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total-carrito h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}


