*::after
*::before
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  max-width: 1200px;
}

.product-image{
  max-width: 100%;
}

.container-items{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item{
  border-radius: 10px;

}

.item:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0; 
  transition: all .5s;
}

.item:hover img{
  transform: scale(1.1);
}

.item figure{
  overflow: hidden;
}

.info-product{
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price{
  font-size: 18px;
  font-weight: 900;
}

.info-product button{
  border: none;
  background: none;
  background-color: #59bd3b;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}