main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#cataloguito{
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}

.catalogo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.item {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  transition: transform 0.5s ease;
}

.item:hover {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
}

.item figure {
  margin: 0;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.item:hover img {
  transform: scale(1.04);
}

.info-product {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-product {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin: 0;
  text-align: center;
}

.product-genres{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.price {
  font-size: 20px;
  font-weight: 800;
  color: #e44d26;
  text-align: center;
  margin: 0;
}

.btn-add-cart {
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn-add-cart:hover {
  background-color: #19881e;
}

.btn-add-cart:active {
  transform: scale(0.9);
  background-color: #3d8b40;
}

.classic{
  color: #4CAF50;
  font-weight: 800;
}