section.conocenos {
    background-color: white;
    margin: 20vh 0 0 -20px;
    height: fit-content;
    font-size: 20px;
    width: 105%;
    display: flex;
    justify-content: center;
}

section.conocenos div.conocenos-container {
    background-color: white;
    width: 80%;
}

.conocenos-card p {
    width: 80%;
}

.conocenos-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.pagos img {
    width: 100px;
    height: 100%;
    margin: 0 10px 0 10px;

}

.conocenos-container h2,
.conocenos-container h3,
.conocenos-container p {
    margin: 10px 0 10px 0;

}

.pagos {
    display: flex;
    justify-content: center;
    align-items: center;
}