.container {
  max-width: 120%;
  margin: 0;
}

.footer {
  background-color: rgb(20, 32, 32);
  width: 105%;
  margin: 0 0 -20px -30px;
  text-align: center;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color: rgb(31, 161, 39);
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid rgb(97, 172, 153);
  padding-bottom: 10px;
  display: inline-block;

}

.footer-links p {
  color: rgb(255, 255, 255);
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 39px;
  background-color: rgb(38, 61, 61);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: bisque;
  transition: all .5s ease;
}

.social-link a:hover {

  background-color: rgb(74, 109, 109);
  transform: scale(1.13);
}

/*  la sección de Manuales y Atención */
.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.footer-links ul li {
  margin: 10px 0;
}

.footer-links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: rgb(97, 172, 153);
  text-decoration: underline;
}
