header {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between; 
    padding: 10px 0; 
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed; 
    top: 0; 
    z-index: 3; 
}


.new-login-btn {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 12px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 1100px;
}

.new-login-btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.icon-cart {
    width: 40px;
    height: 40px;
    stroke: rgb(0, 0, 0);
}

.info-product {
    padding: 15px 30px;
}

.container-icon {
    position: relative;
    margin-right: 40px;
}

.container-cart-icon:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.5s;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;    
    background-color: #000;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.container-cart-products {
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: #fff;
    width: 310px;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.50);
    border-radius: 5px 5px 10px 10px;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 15px;
    font-weight: 600;
}

.precio-producto-carrito {
    font-weight: 800;
    font-size: 15px;
    margin-left: 9px;
    color: #59bd3b;
}

.cantidad-producto-carrito {
    font-weight: 800;
    font-size: 15px;
}

.icon-close {
    width: 22px;
    height: 22px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.075);
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    gap: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
}

.cart-total p.total {
    font-size: 15px;
    font-weight: 700;
}

.total-pagar {
    font-size: 15px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

.hidden{
    display: none;
}

.void{
    font-weight: 900;
}

.go-buying{
    font-weight: 900;
    text-decoration: none;
    color: #39941d;
}

.go-buying:hover{
    color: #59bd3b;
    transition: 0.3s;
}

.pagar-btn{
    color: #39941d;
    font-weight: 700;
    font-size: 17px;
}


.pagar-btn:hover{
    color: #59bd3b;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.0725);
}

/* SCROLL CARRITO */
.row-product {
    max-height: 255px; 
    overflow-y: auto;  
    padding-right: 10px; 
}

  .row-product::-webkit-scrollbar {
    width: 8px;
}
  
.row-product::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    margin-right: 5px;
}
  
  .row-product::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
    margin-right: 5px;
}

/* Dark mode for header and its elements */
.dark-mode header {
    background-color: var(--color-barra-lateral);
}

.dark-mode .new-login-btn {
    color: lightgray;
    border-color: lightgray;
}

.dark-mode .new-login-btn:hover {
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}

.dark-mode .icon-cart {
    stroke: var( --color-switch-circulo);
}

.dark-mode .count-products {
    background-color: var(--color-texto-menu);
    color: var(--color-boton);
}

.dark-mode .container-cart-products {
    background-color: var(--color-barra-lateral);
}

.dark-mode .cart-product {
    border-bottom: 1px solid var(--color-linea);
}

.dark-mode .titulo-producto-carrito {
    color: lightgray;
}

.dark-mode .cantidad-producto-carrito{
    color: lightgray;
}

.dark-mode .total {
    color: lightgray;
}

.dark-mode .icon-close{
    color: lightgrey;
}

.dark-mode .total-pagar{
    color: #59bd3b;
}

.dark-mode .cart-empty{
    color: lightgray;
}