* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide-container {
    display: flex;
    justify-content: center;
    height: 57%;
    margin-bottom: 35px;
}

.slider-wrapper {

    position: relative;
    width: 100%;
    margin: 10px;
    height: 100%;
}



.slider {

    display: flex;
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    box-shadow: 0.25rem .5rem 10px;
    border-radius: .5rem;
    height: 100%;
    overflow: hidden;
}



.slider img {


    object-fit: cover;
    z-index: 2;
    height: 100%;
}

.text-slider{
    position: relative;
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

.title{
    background: rgba(5, 7, 12, 0.75);
    padding: 10px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.text-slider h2{
    color: white;

    z-index: 1;
}

.text-slider p{

    color: #73f851;

    font-size: 26px;
  
}
.text-slider img{
    width: 100%;

}

.slider-nav {

    display: flex;

    column-gap: 1rem;

    position: absolute;

    bottom: -1.25rem;

    left: 50%;

    transform: translateX(-50%);

    z-index: 1;
}

.slider-nav a {

    width: 12px;

    height: 12px;

    border: solid rgba(0, 0, 0) 2px;

    border-radius: 50%;

    background-color: white;

    opacity: .75;

    transition: opacity ease 250ms;

}

.slider-nav a:hover {

    opacity: 1;

}


