@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(50deg, rgba(31, 50, 51, 1) 0%, rgba(29, 48, 48, 1) 50%, rgb(28, 44, 44, 1) 100%);
  color: #f5f5f5;
}

.confirmation-container {
  text-align: center;
  background-color: rgba(31, 50, 51, 0.9);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons a {
  padding: 15px 30px;
  background-color: #1f4a50;
  border-radius: 25px;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 16px;
  transition: background-color 0.5s ease;
}

.buttons a:hover {
  background-color: #59bd3b;
  color: #f5f5f5;
}

.email{
  font-weight: 500;
}

@media (max-width: 991px) {
  .confirmation-container {
      padding: 30px;
  }

  h1 {
      font-size: 30px;
  }

  p {
      font-size: 16px;
  }

  .buttons a {
      padding: 12px 20px;
      font-size: 14px;
  }
}
